DB_TYPE=sqlite  # sqlite, postgresql, mysql
SECRET_KEY="django-xxx"
DEBUG=1

# PostgreSQL (optional)
# DB_TYPE=postgresql
# DB_HOST=aws-0-region.pooler.supabase.com
# DB_PORT=6543
# DB_USER=postgres.[ref]
# DB_PASSWORD=[password]
# DB_NAME=postgres
