{% extends "base.html" %}
{% load static %}

{% block header %}
{% if static_mode %}
  {% include "novels/components/header_solid_static.html" %}
{% else %}
  {% include "novels/components/header_solid.html" %}
{% endif %}
{% endblock %}

{% block pagination %}
{% if static_mode %}
  {% include "components/pagination_static.html" %}
{% else %}
  {% include "components/pagination.html" %}
{% endif %}
{% endblock %}

{% block footer %}
{% if static_mode %}
  {% include "novels/components/footer_static.html" %}
{% else %}
  {% include "novels/components/footer.html" %}
{% endif %}
{% endblock %}

{% block body_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
